/* inner movie detail page start here */
@import './reset.css';
@import './variable.css';
@import './movie-row.css';
@import './header.css';
@import './modal.css';
.movie__banner {
    width: 100%;
}
.movie__poster {
    width: 100%;
    height: 60vh;
}
.movie__details {
    width: 100%;
    display: flex;
}
.movie__description{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin : 0 auto;
}
.movie__desc{
    width:50%;
    padding: 10px;
}
.movie__info {
    width: 50%;
    background: #cccccc38;
    margin-top: 20px;
    border-radius: 5px;
    padding: 25px 15px 25px 15px;
}
.movie__title{
    font-size: 1.3em;
    font-weight: 600;
    font-family: sans-serif;
}
.movie__detail__description{
    margin-top : 30px;
}
.movie__info .table tr {
    line-height: 2.8em;
    width: 100%;
    border-bottom: 1px solid #cccc;
}
.movie__info .table{
    display:inline-table;
}
.movie__info .table td {
    margin-left: 75px;
    width: 75%;
    line-height: 1.8;
}
.movie__info .table th {
    font-size: 18px;
    text-transform: capitalize;
    width: 25%;
}
.movie__desc .primary-text{
    margin-bottom:10px;
}
.table__body tr:nth-last-child(1){
    border:none;
}
.movie__desc .para-text{
    text-align: justify;
}
.related-movies{
    width: 90%;
    margin: 0 auto;
}
.related-movies .movie-details{
    height: 20%;
}
/* inner movie detail page end here */
