@import './variable.css';

.app__header{
    background: var(--header-background-color);
    width: 100%;
}

.menu{
    display: flex;
    color: white;
    height: 50px;
    font-family: var(--primary-font-family);
    align-items: center;
    box-sizing: border-box;
    padding:20px;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.logo__link{
    color:grey;
    font-size: var(--large-font-size);
    word-spacing: 0.35em;
}

.menu__list{
    display: flex;
    padding: 0 20px;
}

.menu__item{
    padding: 15px 20px;
    outline: none;
}

.menu__item--active{
    background: black;
}

.menu__link{
    color: white;
}

.menu__link:active{
    outline: none;
}


/*for devices greater than 767px*/

@media screen and (min-width:768px){
    .menu{
        justify-content: flex-start;
    }
    .menu__item{
        padding: 15px 50px;
    }
}