@import './reset.css';
@import './variable.css';
@import './header.css';
@import './modal.css';
@import './movie-row.css';


.movie-container{
    margin: 10px auto;
    max-width: 1400px;
}
@media screen and (min-width : 768px){
    .movie-container{
        width: 85%;
        margin: 30px auto;
    }
}