@import './reset.css';
.movie__list{
    display: flex;
    justify-content: space-around;
}
.movie-card{
    width: 23%;
    justify-content: space-around;
}
.movie-details{
    display: flex;
}
.movie-details--left{
    width : 65%; 
}
.movie-details--right{
    width: 35%;
}





img{
    max-width: 100%;
    width: 100%;
    height: 200px;
}