.modal {
        position: fixed; 
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh; 
        display: none; 
        background-color: rgba(0,0,0,0.4); 
        padding-top:50px;
}
.modal__content{
  position: relative;
  top: 5%;
}
.movie__content{
        width:100%;
        padding-top: 1.3em;
}
.modal__header {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
      justify-content: space-between;
      border-bottom: 1px solid grey;
      padding: 15px;
}
.modal__title{
      font-size: 22px;
      font-weight: 600;
      font-family: sans-serif;
}
.modal__close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: 300;
      cursor: pointer;
      -webkit-transition: 1s;
      -o-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
}
.modal__close:hover{
      color:black;
      -webkit-transform: scale3d(1.1,1.1,1.1);
      -o-transform: scale3d(1.1,1.1,1.1);
      -moz-transform: scale3d(1.1,1.1,1.1);
      transform: scale3d(1.1,1.1,1.1);
}

.modal__body{
       padding:15px;
}
.modal__desc {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      margin-bottom:25px;
      justify-content: flex-start;
      flex-direction: column;
}


.modal__desc .movie__figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.modal__image{
   width: 100%;
}




  .modal__content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 100%;
  }
  @media screen and (min-width : 992px){
        .modal__desc{
          flex-direction: row;
        }
        .modal__desc .movie__figure{
          width: 40%;
        }
        .modal__content {
          width: 60%;
        }
        .movie__content{
          padding-top: 0;
          padding-left: 1.3em;
        }
        .modal__image{
          max-width: 100%;
          width: 100%;
          min-height: 80%;
        }
  } 
  .modal__row td{
    padding: 5px 0;
  }
  .modal__row__head{
    font-size: 1.2em;
    font-weight: 600;
    text-transform: capitalize;
    width: 25%;
  }
  .table{
    width: 100%;
    text-align: left;
    display: flex;
  }
  .table__body{
      width:100%
  }
  .modal__details {
    margin-bottom: 15px;
}

.modal__footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  padding:20px
}
.modal__footer__button{
  margin-right: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.modal__footer__button:hover{
  background: grey;
  color: white;
}
/* modal css end here */
