:root {
    --primary-font-family : sans-serif; 
    --large-font-size : 1.2em;
    --medium-font-size : 1em;
    --small-font-size : 0.8em;
    --faded-color :grey;
    --header-background-color : rgb(43, 39, 39);
  }
