<template id="latest-movies">
    <section class='movie-card'>
        <figure class='movie__figure'>
            <img class='movie__figure__poster' src=${movieimg}>
        </figure>
        <div class='movie-details'>
            <div class="details__content details__header">
                <p class='movie__name'></p>
                <span class='movie__heart'><i class='fa fa-heart'></i></span>
            </div>
            <div class="details__content details__body">
                <p class='movie__genre'></p>
                
            </div>
            <div class="details__content details__footer">
                    <p class="movie__ratingStars">
                            <span></span>
                    </p>
                <p class='movie__showmore-link'><a>show more</a></p>
            </div>
        </div>
    </section>
</template>