<article id="movie__modal" class="modal">
    <article class="modal__content">
        <section class="modal__header">
            <h2 class="primary-text modal__title"></h2>
            <span class="modal__close modal__close__icon">&times;</span>
        </section>

        <section class="modal__body">
            <div class="modal__description modal__desc">
                <figure class="movie__figure modal__figure" id="modal">
                    <img class="movie__image modal__image" src="" alt="" title="movie image">
                </figure>
                <div class="movie__content">
                    <p class="movie__overview modal__overview"></p>
                </div>
            </div>
            <div class="modal__details">
                <table class="table modal__table">
                    <tbody class="table__body modal_body">
                        <tr class="modal__row modal__genre">
                            <th class="modal__row__head">genre</th>
                            <td> </td>
                        </tr>
                        <tr class="modal__row modal__cast">
                            <th  class="modal__row__head">Cast </th>
                            <td></td>
                        </tr>
                        <tr class="modal__row modal__director">
                            <th  class="modal__row__head">Director</th>
                            <td></td>
                        </tr>
                        <tr class="modal__row modal__rating">
                            <th  class="modal__row__head"> Movie Rating</th>
                            <td>
                                <div class="modal__rating-stars">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="modal__footer">
            <button class="modal__footer__button modal__close__icon" type="button">close</button>
        </section>
    </article>
</article>