<header class="app__header">
    <nav class="menu">
        <section class="menu__logo">
            <h1 class="logo__heading">
                <a class="logo__link" href="./index.html">Movie App</a>
            </h1>
        </section>
        <ul class="menu__list" role="menu">
            <li class="menu__item menu__item--active"><a href="#" tabindex="1" class="menu__link">Home</a></li>
            <li class="menu__item"><a href="./search-page.html" tabindex="2" class="menu__link">Explore</a></li>
        </ul>
    </nav>
</header>